---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>dj-mc ~ about</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
    <h1>About</h1>
    <h2>Hello, You</h2>
    <p>This is the about page</p>
  </body>
</html>
