---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>dj-mc ~ blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
    <h1>dj-mc's Blog</h1>
    <h2>First Blog Post</h2>
    <p>This is my first blog post</p>
  </body>
</html>
